body{
    font-family: Arial, sans-serif;
}

.card img{
    height:350px;
    object-fit:cover;
}

.card{
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

footer{
    margin-top:40px;
}